body{
  background-image:url("https://www.wallpaperimageshd.com/uploads/2020/03/20/sunrise-beach-clouds-desktop-wallpaper.jpg");
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
}
.heading{
position: relative;
  left: 200px;
  top: 80px;
  color: white;
  font-size: 1rem;
}

.search{
position: absolute;
display: flex;
top: 0;
right: 0;
height: 45px;
background-color: orange;
}
.sidebar{
position: absolute;
background:rgba(26, 28, 34, 0.97);
top: 0;
right: 0;
display: flex;
height: 720px;
width: 400px;
}
.list h2{
color: white;
position: relative;
left: 60px; 
size: 2rem;
}

.line {
  border-color: rgba(26, 28, 34, 0.97);
  width: 280px;
  background: #FFFFFF;
  height: 1px;
  position: relative;
  margin-bottom:5px;
  left: 50px;
}
.list-item h3{
color: white;
margin: 15px;
position: relative;
left: 45px;
font-size: 1.0rem;
}
.list-item2{
  color: white;
margin: 15px;
position: relative;
left: 45px;
font-size: 1.0rem;
}
.break{
margin: 10px;
}
.gap{

  margin-bottom: 30px;
}
.image{
position: relative;
  left: 300px;
  bottom: 0;
}
.degree{
position: relative;
left: 210px;
margin-top: 390px;
color: white;
font-size: 5rem;
}
.london{
position: relative;
left: 350px;
color: white;
font-size: 3rem;
margin-top: -75px ;
}
.cloud{
  position: relative;
  color: white;
  left: 560px;
  top: 475px;
}
.image{
  position: relative;
  left: 560px;
  top: 480px;
}
.details{
position: relative;
left: 330px;
top: 5px;
color: white;
font-size: 1.2rem;
}
